/* General Styling */

body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

main {
    background: url("img/index.jpg") no-repeat left top;
    min-height: 685px;
    background-color: black;
}

@font-face {
    font-family: Bilbo;
    src: url(fonts/bilboregular.ttf);
}

@font-face {
    font-family: Elven;
    src: url(fonts/elvencommonspeak.ttf);
}

@font-face {
    font-family: Ringbearer;
    src: url(fonts/RINGM.ttf);
}

/* Navbar */

.nav-font-styling {
    font-family: 'Ringbearer', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #FFDF00;


}

.nav-font-styling:hover {
    color: #b9bcbf;

}

.navbar {
    background-color: black;
    -webkit-box-shadow: 13px 13px 19px 11px rgba(0, 0, 0, 1);
    -moz-box-shadow: 13px 13px 19px 11px rgba(0, 0, 0, 1);
    box-shadow: 13px 13px 19px 11px rgba(0, 0, 0, 1);


}

.navbar_styling {
    font-family: 'Bilbo', Helvetica, Arial, sans-serif;
    font-size: 45px;
    text-decoration: none;
    color: #FFDF00;
    margin-top: 5px;
    padding: 0px;

}

.navbar_styling:hover {
    color: #b9bcbf;
}



/* base */

.container {
    margin: 0px;
    padding: 0px;
    max-width: 100%;

}

.positioning-of-gollum {
    margin: 0px 0px 0px -15px;
    padding: 0px;

}

.positioning-of-gollum>img {
    max-height: 500px;
    margin-top: 160px;
}

/* index */

.welcome-message-box {
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    margin-top: 106px;
}

.welcome-message {
    padding: 17px 23px 8px 15px;
    text-align: center;
    color: white;
    font-family: 'Bilbo', Helvetica, Arial, sans-serif;
    font-size: 33px;
    letter-spacing: 3px;
}

.start-game-box {
    margin: 15px;
}

.start-button {
    color: black;
    background-color: #b9bcbf;

}

/* Riddle */

.question {
    color: white;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    padding: 10px;

}



#wrong-guesss {
    color: white;
}

.ask-question-box {
    margin: 136px 0px 50px 0px;
    color: white;
    font-family: 'Bilbo', Helvetica, Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 22px;

}

.wrong-guesss {
    color: white;
    font-family: 'Ringbearer', Helvetica, Arial, sans-serif;
    margin-top: 30px;
}

.wrong-guess {
    color: white;
    font-family: 'Ringbearer', Helvetica, Arial, sans-serif;
}


/* About */

#course_summary {
    background-color: white;
    border: 2px grey solid;
    color: black;
    margin: 20px;
    padding: 10px;

}

.summary-text {
    color: white;
    text-align: center;
    margin: 50px 67px;
    font-size: 18px;
    font-family: 'Ringbearer', Helvetica, Arial, sans-serif;

}

.character-bio {
    margin: 20px 0px;


}

.title {
    color: white;
    text-align: center;
    font-family: 'Ringbearer', Helvetica, Arial, sans-serif;
    margin: 20px 0px;
}

.character-title {
    color: white;
    font-family: 'Ringbearer', Helvetica, Arial, sans-serif;
    margin: 20px 0px;

}


.bio-pic {
    margin: 28px 0px 0px 46px;
    max-width: 400px;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);

}

.spacer {
    height: 100px;
}

.bio-text {
    color: white;

}

.quote {
    color: #b9bcbf;
    font-size: 16px;
}

.character-text-spacing {
    margin: 0px 0px 0px 40px;
}

.bio-links-title {
    color: #b9bcbf;
}

.bio-links {
    color: #b9bcbf;
    text-decoration: none;
}

.bio-links:hover {
    color: white;
}

/* Footer */

.footer {
    background-color: black;
    -webkit-box-shadow: 0px -17px 15px 9px #000000;
    -moz-box-shadow: 0px -17px 15px 9px #000000;
    box-shadow: 0px -17px 15px 9px #000000;
    font-size: 15px;
    border-top: #ffffff42 0.5px solid;

}

.copyright {
    margin: 0px;
    color: #b9bcbf
}

.copyright-style {
    text-decoration: none;
    color: #b9bcbf;
}

.copyright-style:hover {
    color: white;
}

.github-link {
    text-decoration: none;
    color: #b9bcbf;
}

.github-link:hover {
    color: white;
}
