<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <title>Riddle</title>
</head>

<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="navbar-brand navbar_styling">Gollum's cave</a>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link nav-font-styling" href="{{ url_for('index') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link nav-font-styling" href="{{ url_for('highscores') }}">Highscores</a></li>
            <li class="nav-item"><a class="nav-link nav-font-styling" href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>

    <main>
        <div class="container-fluid">
            <header>
                {% with messages = get_flashed_messages() %} {% for message in messages %}
                <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %} {% endwith %}
            </header>
            <main>
                <div class="row h-100">
                    
                        {% block gollum %} {% endblock %}
                    

                    
                        {% block content %}{% endblock %}
                    
                </div>



        </div>
        </main>
        </div>
    </main>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">

                <div class="col-4 col-offset-1">
                    <a class="github-link" href="ADD LINK TO GITHUB REPO FOR THIS PROJECT">Link to github repository <i class="fab fa-github"></i></a>

                </div>

                <div class="col-auto">
                    <p class="copyright">The characters “Gollum”, “Bilbo” ,"The Hobbit" and "The lord of the rings" are the IP of <a class="copyright-style" href="https://www.middleearth.com">Middle-earth Enterprises©</a></p>
                </div>

            </div>
        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>

</html>
