{% extends 'base.html' %} {% block content %}
<div class="col-12">

    <div class="row justify-content-center">
        <div id="width-limit">
            <table class="table-styling">
                <tr>
                    <th class="table-title">Rank</th>
                    <th class="table-title">Username</th>
                    <th class="table-title">Score</th>
                </tr>

                {% for score in highscore_board %}
                <tr>
                    <td class="table-value">{{ loop.index }}</td>
                    <td class="table-value">{{ score[0] }}</td>
                    <td class="table-value">{{ score[1] }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <div id="new-game-spacing">
            <form method=" POST " action="{{ url_for( 'new_game') }} ">
                <input type="submit " value="New game? " class="btn button">
            </form>
        </div>
    </div>


</div>

{% endblock %}
