{% extends 'base.html' %} {% block content %}

<!-- Displays the highscore table -->

<div class="col-12">
    <div class="row justify-content-center">
        <div id="width-limit">
            <table class="table-styling">
                <tr>
                    <th class="table-title">Rank</th>
                    <th class="table-title">Username</th>
                    <th class="table-title">Score</th>
                </tr>

<!-- Each score username submitted by the player, and their score is displayed here. 
Note: as this app uses session variables to store player usernames and scores, 
this highscore board will be empty the first time visiting, and will clear when you close the browser -->
                
                {% for score in highscore_board %}
                
                <tr>
                    <td class="table-value">{{ loop.index }}</td>
                    <td class="table-value">{{ score[0] }}</td>
                    <td class="table-value">{{ score[1] }}</td>
                </tr>
                
                {% endfor %}

            </table>
        </div>
        <div id="new-game-spacing">
            <form method=" POST " action="{{ url_for( 'new_game') }} ">
                <input type="submit " value="New game? " class="btn button">
            </form>
        </div>
    </div>


</div>

{% endblock %}
