{% extends 'base.html' %} {% block gollum %}

<div class="col-4">
    <div class="positioning-of-gollum">
        <img class="golum-styling" src="static/img/gollum_happy.png" alt="Gollum from Lord of the rings">
    </div>
</div>


{% endblock %} {% block content %}

<div class="col-7 col-offset-1">



    <div class="welcome-message-box">
        <p class="welcome-message">“If precious asks, and it doesn’t answer, we eats it, my preciousss. If it asks us, and we doesn’t answer, then we does what it wants, eh? We shows it the way out, yes!” </p>
        <p class="welcome-message">Tells us your name, and we can start!</p>
    </div>




    <form method="POST" action="{{ url_for('new_game') }}" class="start-game-box">
        <div class="input-group">
            <div class="input-group-prepend">

            </div>
            <input type="text" autocomplete="off" class="form-control" name="player" placeholder="Username">
            <div class="input-group-append">
                <input class="btn start-button" type="submit" value="Start the game">
            </div>
        </div>
    </form>

</div>
</div>

</div>
{% endblock %}
