{% extends 'base.html' %} {% block gollum %}
<div class="col-4">
    <div class="col-4 positioning-of-gollum">
        <img class="golum-styling" src="static/img/gollum_happy.png" alt="Gollum from Lord of the rings">
    </div>
</div>
{% endblock %} {% block content %}
<div class="col-8">
    <strong class="mr-2 question">Question {{ riddle_num + 1 }}:</strong>
    <em class="question">{{ question }}</em>

    <form method="POST" class="row">
        <div class="input-group mb-3 col col-lg-8">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Your answer:</span>
            </div>
            <input type="text" class="form-control" name="answer">
            <div class="input-group-append">
                <input class="btn btn-primary" type="submit" value="Answer the riddle">
            </div>
        </div>
    </form>

    <div>

        <ul id="wrong-guesss">
            {% for answer in wrong_answers %}


            <li name="wrong-answer">{{ answer }}</li>

            {% endfor %}
    </div>

    {% endblock %}
    </ul>
</div>
