{% extends 'base.html' %} 
{% block gollum %} 
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-xl-12">
{% with messages = get_flashed_messages() %} {% for message in messages %}

    <div class="row">
        <div class="col-12">
            <div class="messages-styling" role="alert">{{ message }}</div>
        </div>
    </div>
    {% endfor %} {% endwith %}
 
    <div class="row hide">
    
    {% if attempts > 1 %}
    <div class="col-12">
        <div class="positioning-of-gollum">
            <img class="golum-styling" src="static/img/gollum_happy.png" alt="Gollum from the movie Lord of the rings">
        </div>
    </div>

    {% else %}

    <div class="col-12">
        <div class="positioning-of-gollum">
            <img class="golum-styling" src="static/img/angry_gollum.png" alt="Gollum from the movie Lord of the rings">
        </div>
    </div>
    {% endif %}
    </div>
</div>


{% endblock %} {% block content %}
<div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-12 adds-width">
    <div class="row ask-question-box">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-10 col-xs-12 question">Question {{ riddle_num + 1 }}:
            <em>{{ question }}</em>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="POST" class="row">
                <div class="input-group col-lg-8">
                    <input type="text" class="form-control" name="answer" autocomplete="off" placeholder="What's the answer Precious?">
                    <div class="input-group-append">
                        <input class="btn button" type="submit" value="Answer the riddle">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 class="wrong-guesss">Wrong Guesses</h4>
            <ul>
                {% for answer in wrong_answers %}
                <li class="wrong-guess" name="wrong-answer">{{ answer }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
